
body {
    margin: 0px;
}

header {
    background-color: #4c4b51;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.header_item {
    display: flex;
    border-style: solid;
    border-width: 1.5px;
    justify-content: center;
    align-items: center;
}

#hellstrom {
    color: white;
    border-color: black;
}

footer {
    background-color: #4c4b51;
    color: white;
}



/*Css för mobil*/
@media screen and (max-width:600px) {
    #wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 12vh 85vh 150vh 12vh;
    }

    #picture_sec1 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-color: black;
    }

    #front_big_pic {
        border-style: solid;
        height: 82vh;
        width: 100%;
        margin: 5px;
        background-image: url(/img/viktor.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .front_picture {
        height: 200px;
        width: 150px;
        border-style: solid;
        align-content: center;
        justify-content: center;
        
    }

    .bottom_pic {
        height: 190px;
        width: 300px;
        border-style: solid;
    }
    
    #front_picture_top {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: space-around;
    }
    
    #front_picture_middle {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: space-around;
    }
    
    #front_picture_bottom {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: space-around;
    }
    
    #picture_sec2 {
        border-style: solid;
        border-color: black;
        display: grid;
    }

    aside {
        display: none;
    }
    
    
}



@media screen and (min-width:601px) {
    #wrapper {
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 
        'as sec1'
        'as sec2'
        ;
    }

    #picture_sec1 {
        grid-area: sec1;
        border-style: solid;
    }
    
    #picture_sec2 {
        grid-area: sec2;
        border-style: solid;
    }

    aside {
        grid-area: as;
        border-style: solid;
    }

    footer {
        display: none;
    }

    header {
        display: none;
    }


}




