
body {
    margin: 0px;
}

header {
    background-color: #4c4b51;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.header_item {
    display: flex;
    border-style: solid;
    border-width: 1.5px;
    justify-content: center;
    align-items: center;
}

#hellstrom {
    color: white;
    border-color: black;
}

footer {
    background-color: #4c4b51;
    color: white;
}

.laying_pic {
    height: 190px;
    width: 300px;
    border-style: solid;
}

.standing_pic {
    height: 200px;
    width: 150px;
    border-style: solid;
    align-content: center;
    justify-content: center;
    
}

/*Css för mobil*/
@media screen and (max-width:600px) {
    #wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 12vh 85vh 150vh 12vh;
    }

    #picture_sec1 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-color: black;
    }

    #front_big_pic {
        border-style: solid;
        height: 82vh;
        width: 100%;
        margin: 5px;
        background-image: url(/img/viktor.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    

    #picture_sec2 {
        border-style: solid;
        border-color: black;
        display: grid;
    }
    
    #front_picture_top {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: space-around;
    }
    
    #front_picture_middle {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: space-around;
    }
    
    #front_picture_bottom {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: space-around;
    }
    
    #picture_sec3 {
        display: none;
    }

    #picture_sec4 {
        display: none;
    }

    #bottom_pic2 {
        display: none;
    }

    aside {
        display: none;
    }
    
    
}



@media screen and (min-width:601px) {
    #wrapper {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 
        'as sec3'
        'as sec4'
        ;
    }

    #picture_sec1 {
        display: none;
    }
    
    #picture_sec2 {
        display: none;
    }

    #picture_sec3 {
        grid-area: sec3;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #picture_sec4 {
        grid-area: sec4;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .solidline {
        border-top: 2px solid black;
        width: 75vw;
        height: 0px;
        margin-top: 50vh;
        margin-left: 22.5vw;
    }

    #bottom_pic1 {
        display: none;
    }

    aside {
        grid-area: as;
        border-style: solid;
        position: fixed;
        height: 90vh;
        width: 158px;
    }

    .index_aside {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .list_item {
        display: flex;
        justify-content: center;
    }

    .aside_ul {
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        
    }

    #hellstrom {
        cursor: pointer;
        color: black;
    }

    a {
        text-decoration: none;
        color: black;
    }

    footer {
        display: none;
    }

    header {
        display: none;
    }


}




